@model System.Collections.Generic.List<RabbitMQWeb.ExcelCreating.Models.UserFile>

@{
    ViewBag.Title = "Files";
    Layout = "_Layout";
}

@section Scripts
{
    <script>
    $(document).ready(function (){
        var hasStartCreatingExcel= '@TempData["StartCreatingExcel"]';
        if (hasStartCreatingExcel){
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Excel dosyası hazırlanıyor 👍🏻...️',
                showConfirmButton: false,
            })
        }        
    })
    </script>
}

<h2>Files</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>File Name</th>
        <th>Created Date</th>
        <th>File Status</th>
        <th>Download</th>
    </tr>
    </thead>
    @foreach (var userFile in Model)
    {
        <tr>
            <td>@userFile.FileName</td>
            <td>@userFile.GetCreatedDate</td>
            <td>@userFile.FileStatus</td>
            <td>
                <a href="~/files/@(userFile.FileName+".xlsx")" class="btn btn-primary @(userFile.FileStatus == FileStatus.Creating ? "disabled" : "")">DownLoad</a>
            </td>
        </tr>
    }
</table>